.quiz {
   text-align: center;
   .quizTitle{
    font-size:3rem;
    margin-top: 20px;
   }
   .quizAnswer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    
    button {
        width: 25%;
        height: 50px;
        margin-top: 25px;
        background: rgb(12, 142, 198);
        color: white;
        font-size: 20px;
    }
   }
}