$fontColorBlack : black;
$fontColorWhite: white;

@mixin formElement{
 height: 3rem;
 width: 50%;
 border: 1px solid black;
 border-radius: 5px;
 margin-bottom: 20px;
}


.form {
  text-align: center;
  h1{
    color: $fontColorBlack;
}
    .formMain {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   

      .formCategory{
      
        @include formElement;
       
      }
      .formDifficulty {
        
        @include formElement;
      }
      .formType {
        @include formElement;
      }
      button{
        @include formElement;
        background: rgba(61, 101, 193, 0.886);
        color: $fontColorWhite;
      }
      .formInput{
        @include formElement;
      }
    }

}