.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   h1{
   border: 1px solid white;
   width: 750px;
   height: 100px;
   border-radius: 1rem;
   justify-content: center;
   align-items: center;
   display: flex;
   color: white;
   
   }
   .modalMain{
    width: 750px;
    height: 400px;
    border: 1px solid white;
    .modalScore {
        display: flex;
        justify-content: space-between;
        color: white;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
    
    }
    a{
        width: 60%;
        height: 30px;
        background:  steelblue;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
        font-size: large;
        border: 1px solid white;
        border-radius: 10px;
        &:hover{
            background:  white;
            color: steelblue;
            
        }
    
    }
   }
}